# Yarn (https://next.yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
/node_modules
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
/.pnp.*

# Submodules
/fluentui-emoji

# Build output
/dist

# WebStorm
/.idea
